## Ignore Visual Studio files
.vs/
*.user
*.suo

## Ignore build results
bin/
obj/
out/

## Ignore NuGet packages
*.nupkg
packages/

## Ignore Rider
.idea/

## Ignore logs
*.log

## Ignore User-specific files
*.userosscache
*.sln.docstates

## Ignore temporary files
*.tmp
*.temp

## Ignore OS files
.DS_Store
Thumbs.db

## Ignore dotnet user secrets (optional, if you're using secrets)
**/secrets.json
